# Salesforce cache
.sfdx/
# LWC local development
.localdevserver/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# git
*.orig
*.rej
*.bak
# IDE specific
.vscode/*
coverage
.forceCode
jsconfig.json
.eslintrc.json
.vim-force.com/session.properties
IlluminatedCloud
# Dependency directories
node_modules/
# Eslint cache
.eslintcach
# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
# retriever tmp directory
tmp/
.tmp/
# npm intall
package-lock.json
# package.xml: generated with scripts on dev machine
manifest/package.xml


### *** required entries below ***
###
### Please do not add anything below this line, your changes will be overwritten
###
*.iml
*.iws
*.launch
.externalToolBuilders/
.DS_Store
.DS.d74cb6fe
__MACOSX/
.idea/
.nb-gradle/
.project
.settings/
.history/
atlassian-ide-plugin.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
### VisualStudioCode ###
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/55308
!.vscode/extensions.json
*.code-workspace
### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide




###
###                                                                                                                                                                                                                                  git#348936
###
